<%- include('../includes/admin_home/header') -%>
<%- include('../includes/admin_home/sidebar_main') -%>
<%- include('../includes/admin_home/navbar') -%>

  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">

      
         <!--Section: Statistics with subtitles-->
      <section>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                    </div>
                    <div>
                      <h4>Total Tests</h4>
                      <p class="mb-0">Till know</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h2 class="test_cnt h1 mb-0"></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <i class="far fa-comment-alt text-warning fa-3x me-4"></i>
                    </div>
                    <div>
                      <h4>Total Tests</h4>
                      <p class="mb-0">Monthly blog Tests</p>
                    </div>
                  </div>
                  <div class=" align-self-center">
                    <h2 class="mon_test_cnt h1 mb-0">84,695</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="user_cnt h1 mb-0 me-4">$76,456.00</h2>
                    </div>
                    <div>
                      <h4>Users</h4>
                      <p class="mb-0">Total Connected</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-heart text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="avg_res h1 mb-0 me-4">$36,000</h2>
                    </div>
                    <div>
                      <h4>Avg. Responce</h4>
                      <p class="mb-0">Per Test</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-wallet text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Statistics with subtitles-->

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Quizzit - Test</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="text-center " style="margin-top: -1rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="mr-1 bi bi-claude"
                viewBox="0 0 16 16">
                <path
                  d="m3.127 10.604 3.135-1.76.053-.153-.053-.085H6.11l-.525-.032-1.791-.048-1.554-.065-1.505-.08-.38-.081L0 7.832l.036-.234.32-.214.455.04 1.009.069 1.513.105 1.097.064 1.626.17h.259l.036-.105-.089-.065-.068-.064-1.566-1.062-1.695-1.121-.887-.646-.48-.327-.243-.306-.104-.67.435-.48.585.04.15.04.593.456 1.267.981 1.654 1.218.242.202.097-.068.012-.049-.109-.181-.9-1.626-.96-1.655-.428-.686-.113-.411a2 2 0 0 1-.068-.484l.496-.674L4.446 0l.662.089.279.242.411.94.666 1.48 1.033 2.014.302.597.162.553.06.17h.105v-.097l.085-1.134.157-1.392.154-1.792.052-.504.25-.605.497-.327.387.186.319.456-.045.294-.19 1.23-.37 1.93-.243 1.29h.142l.161-.16.654-.868 1.097-1.372.484-.545.565-.601.363-.287h.686l.505.751-.226.775-.707.895-.585.759-.839 1.13-.524.904.048.072.125-.012 1.897-.403 1.024-.186 1.223-.21.553.258.06.263-.218.536-1.307.323-1.533.307-2.284.54-.028.02.032.04 1.029.098.44.024h1.077l2.005.15.525.346.315.424-.053.323-.807.411-3.631-.863-.872-.218h-.12v.073l.726.71 1.331 1.202 1.667 1.55.084.383-.214.302-.226-.032-1.464-1.101-.565-.497-1.28-1.077h-.084v.113l.295.432 1.557 2.34.08.718-.112.234-.404.141-.444-.08-.911-1.28-.94-1.44-.759-1.291-.093.053-.448 4.821-.21.246-.484.186-.403-.307-.214-.496.214-.98.258-1.28.21-1.016.19-1.263.112-.42-.008-.028-.092.012-.953 1.307-1.448 1.957-1.146 1.227-.274.109-.477-.247.045-.44.266-.39 1.586-2.018.956-1.25.617-.723-.004-.105h-.036l-4.212 2.736-.75.096-.324-.302.04-.496.154-.162 1.267-.871z" /></svg>
              <span class="ff-roboto" style=" font-family: 'Playfair Display', serif  !important;">OnClick gives test</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="ml-1 bi bi-claude"
                viewBox="0 0 16 16">
                <path
                  d="m3.127 10.604 3.135-1.76.053-.153-.053-.085H6.11l-.525-.032-1.791-.048-1.554-.065-1.505-.08-.38-.081L0 7.832l.036-.234.32-.214.455.04 1.009.069 1.513.105 1.097.064 1.626.17h.259l.036-.105-.089-.065-.068-.064-1.566-1.062-1.695-1.121-.887-.646-.48-.327-.243-.306-.104-.67.435-.48.585.04.15.04.593.456 1.267.981 1.654 1.218.242.202.097-.068.012-.049-.109-.181-.9-1.626-.96-1.655-.428-.686-.113-.411a2 2 0 0 1-.068-.484l.496-.674L4.446 0l.662.089.279.242.411.94.666 1.48 1.033 2.014.302.597.162.553.06.17h.105v-.097l.085-1.134.157-1.392.154-1.792.052-.504.25-.605.497-.327.387.186.319.456-.045.294-.19 1.23-.37 1.93-.243 1.29h.142l.161-.16.654-.868 1.097-1.372.484-.545.565-.601.363-.287h.686l.505.751-.226.775-.707.895-.585.759-.839 1.13-.524.904.048.072.125-.012 1.897-.403 1.024-.186 1.223-.21.553.258.06.263-.218.536-1.307.323-1.533.307-2.284.54-.028.02.032.04 1.029.098.44.024h1.077l2.005.15.525.346.315.424-.053.323-.807.411-3.631-.863-.872-.218h-.12v.073l.726.71 1.331 1.202 1.667 1.55.084.383-.214.302-.226-.032-1.464-1.101-.565-.497-1.28-1.077h-.084v.113l.295.432 1.557 2.34.08.718-.112.234-.404.141-.444-.08-.911-1.28-.94-1.44-.759-1.291-.093.053-.448 4.821-.21.246-.484.186-.403-.307-.214-.496.214-.98.258-1.28.21-1.016.19-1.263.112-.42-.008-.028-.092.012-.953 1.307-1.448 1.957-1.146 1.227-.274.109-.477-.247.045-.44.266-.39 1.586-2.018.956-1.25.617-.723-.004-.105h-.036l-4.212 2.736-.75.096-.324-.302.04-.496.154-.162 1.267-.871z" />
              </svg>
            </div>
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Code</th>
                    <th scope="col">Date</th>
                    <th scope="col">No. of Questions</th>
                    <th scope="col">Student Attended</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
                <tbody id="test_items">
                </tbody>
              </table>
              <div class="text-center mt-2">
                <button id="showMoreBtn" class="btn d-none text-primary p-0"
                  style="border: none; background: transparent; box-shadow: none; outline: none;"
                  onmousedown="this.style.outline='none'; this.style.boxShadow='none'; this.style.border='none';">
                  more
                </button>
              </div>              
            </div>
          </div>
        </div>
      </section>     
      <!--Section: Sales Performance KPIs-->

      
      <!--Section: Minimal statistics cards-->
      <section>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-info fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>278</h3>
                    <p class="mb-0">New Posts</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="far fa-comment-alt text-warning fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>156</h3>
                    <p class="mb-0">New Comments</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-chart-line text-success fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>64.89 %</h3>
                    <p class="mb-0">Bounce Rate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-map-marker-alt text-danger fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>423</h3>
                    <p class="mb-0">Total Visits</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="max_ques text-danger"></h3>
                    <p class="mb-0">Max Question</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-rocket text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">156</h3>
                    <p class="mb-0">New Clients</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-user text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">64.89 %</h3>
                    <p class="mb-0">Conversion Rate</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-chart-pie text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info">423</h3>
                    <p class="mb-0">Support Tickets</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-life-ring text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="test_cnt_b text-info"></h3>
                    <p class="mb-0">Tests</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-book-open text-info fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">156</h3>
                    <p class="mb-0">New Comments</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-comments text-warning fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">64.89 %</h3>
                    <p class="mb-0">Bounce Rate</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-mug-hot text-success fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-danger">423</h3>
                    <p class="mb-0">Total Visits</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-map-signs text-danger fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Minimal statistics cards-->
     
    </div>
  </main>
  <!--Main layout-->
  <script>
    const admin = JSON.parse(`<%- admin%>`);
    document.querySelector(".test_cnt").textContent =admin.test.length
    document.querySelector(".test_cnt_b").textContent = admin.test.length

    const testsThisMonth = admin.test.filter(test => {
        const testDate = new Date(test.date); // assuming test.date is ISO string
        const now = new Date();
        return (
          testDate.getMonth() === now.getMonth() &&
          testDate.getFullYear() === now.getFullYear()
        );
     });
    document.querySelector(".mon_test_cnt").textContent = testsThisMonth.length
    let maxFormCount = 0;

      admin.test.forEach(test => {
        if (test.form && test.form.length > maxFormCount) {
          maxFormCount = test.form.length;
        }
      });

    document.querySelector(".max_ques").textContent= maxFormCount;

    const allStudentIds = new Set();
    admin.test.forEach(test => {
      console.log(test.students_attended.length);
        test.students_attended.forEach(studentId => {
          
          allStudentIds.add(studentId.student_ref.toString()); // ensure consistent string format
        });
      });
    document.querySelector(".user_cnt").textContent = allStudentIds.size;

    const totalTests = admin.test.length;
    let average=0;
    if (totalTests !== 0) {
        const totalStudents = admin.test.reduce((sum, test) => {
          return sum + (test.students_attended?.length || 0);
        }, 0);

        average = Math.round(totalStudents / totalTests);
    }
    document.querySelector(".avg_res").textContent=average;

    const items = document.getElementById('test_items');
    const showMoreBtn = document.getElementById('showMoreBtn');
    const testItems = admin.test.slice().reverse();
    let visibleCount = 6;

    const options = {
        day: '2-digit',
        month: 'short',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        hour12: true,     // for AM/PM format
        timeZone: 'Asia/Kolkata' // IST (you can remove this if you want local time)
      };


      function renderTests(count) {
           items.innerHTML=``;
          for (let i = 0; i < Math.min(count, testItems.length); i++) {
            const test = testItems[i];

            const row = document.createElement("tr");
            row.className = "align-middle";
            row.style.cursor = "pointer";
            row.id = `row_${i}`;
            row.setAttribute("data-quiz-code", test.random);

            row.addEventListener("click", function () {
              const quizCode = row.getAttribute("data-quiz-code");
              window.location.href = `/admin/create_quiz/submission_page/${quizCode}`;
                     });

            const sub_item_1 = document.createElement("th");
            sub_item_1.scope = "row";
            sub_item_1.textContent = test.quiz_name;
            sub_item_1.style.textTransform = "capitalize";

            const sub_item_2 = document.createElement("td");
            sub_item_2.textContent = test.random;
            sub_item_2.className = "text-dark";

            const date = new Date(test.date);
            const formatted = date.toLocaleString('en-GB', options);
            const sub_item_3 = document.createElement('td');
            sub_item_3.textContent = formatted;
            sub_item_3.className = "text-dark";

            const sub_item_4 = document.createElement('td');
            sub_item_4.textContent = test.form.length;
            sub_item_4.className = "text-success fw-medium";

            const sub_item_5 = document.createElement('td');
            sub_item_5.textContent = test.students_attended.length;
            sub_item_5.className = "text-info fw-medium";

            const sub_item_6 = document.createElement('td');
            const hours = Math.floor(test.time / 60);
            const minutes = test.time % 60;
            sub_item_6.textContent = minutes == 0 ? "No Time" :
              (hours > 0 ? `${hours} hr${hours > 1 ? 's' : ''} ` : '') +
              (`${minutes} min`);
            sub_item_6.className = "text-danger fw-medium";

            row.append(sub_item_1, sub_item_2, sub_item_3, sub_item_4, sub_item_5, sub_item_6);
            items.appendChild(row);
          }

          if (testItems.length > visibleCount) {
            showMoreBtn.classList.remove("d-none");
          } else {
            showMoreBtn.classList.add("d-none");
          }
        }

        renderTests(visibleCount);

        showMoreBtn.addEventListener("click", () => {
          window.location.href = `/admin/test_overview`;
        });
        
  </script>

  <%- include('../partials/mdbfooter'); -%>
  <%- include('../partials/footer'); -%>