<%- include('../includes/admin_home/header') -%>
<%- include('../includes/admin_home/sidebar_create_quiz') -%>
<%- include('../includes/admin_home/navbar') -%>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
   <!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="bg-image px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%); background-image: url('pic10.jpg'); height: 100vh;">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best platform <br />
            <span class="text-primary">for making quizzes</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            
          </p>
        </div>

        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="card" >
            <div class="card-body py-5 px-md-5">
              <form action="/admin/create_quiz/quiz_ques" method="POST">
                
                <div id="quiz_name" class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control" name="quizName" required/>
                  <label class="form-label" for="form3Example3">Name of quiz</label>
                </div>
            
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" style="opacity: 100%;">
                  Create quiz
                </button>

              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
  </main>
  <!--Main layout-->

    <%- include('../partials/mdbfooter'); -%>
    <%- include('../partials/footer'); -%>