<%- include('../includes/user_home/header') -%>
<%- include('../includes/user_home/sidebar') -%>
<%- include('../includes/user_home/navbar') -%>

  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
      <!-- Section: Main chart -->
      <!-- <section class="mb-4">
        <div class="card">
          <div class="card-header py-3">
            <h5 class="mb-0 text-center"><strong>Sales</strong></h5>
          </div>
          <div class="card-body">
            <canvas class="my-4 w-100" id="myChart" height="380"></canvas>
          </div>
        </div>
      </section> -->
      <!-- Section: Main chart -->

      
      
      <!--Section: Minimal statistics cards-->
      <section>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-info fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3 class="max-score">Score</h3>
                    <p class="mb-0">Max Score</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="far fa-comment-alt text-warning fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>156</h3>
                    <p class="mb-0">New Comments</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-chart-line text-success fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3 class="avg-score">Avg</h3>
                    <p class="mb-0">Avg Score</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-map-marker-alt text-danger fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>423</h3>
                    <p class="mb-0">Total Visits</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="max-ques text-danger">Max Ques</h3>
                    <p class="mb-0">Max Question</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-rocket text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">156</h3>
                    <p class="mb-0">New Clients</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-user text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">64.89 %</h3>
                    <p class="mb-0">Conversion Rate</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-chart-pie text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info">423</h3>
                    <p class="mb-0">Support Tickets</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-life-ring text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="test-cnt text-info">Test</h3>
                    <p class="mb-0">Tests</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-book-open text-info fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">156</h3>
                    <p class="mb-0">New Comments</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-comments text-warning fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">64.89 %</h3>
                    <p class="mb-0">Bounce Rate</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-mug-hot text-success fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-danger">423</h3>
                    <p class="mb-0">Total Visits</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-map-signs text-danger fa-3x"></i>
                  </div>
                </div>
                <div class="px-md-1">
                  <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Minimal statistics cards-->

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Quizzit - Test</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Code</th>
                    <th scope="col">Date</th>
                    <th scope="col">No. of Question</th>
                    <th scope="col">Max Marks</th>
                    <th scope="col">Marks Scored</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
                <tbody id="test_items">
                </tbody>
              </table>
              <div class="text-center mt-2">
                <button id="showMoreBtn" class="btn d-none text-primary p-0"
                  style="border: none; background: transparent; box-shadow: none; outline: none;"
                  onmousedown="this.style.outline='none'; this.style.boxShadow='none'; this.style.border='none';">
                  more
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->

      <!--Section: Statistics with subtitles-->
      <section>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                    </div>
                    <div>
                      <h4>Total Tests</h4>
                      <p class="mb-0">Till know</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h2 class="test_cnt h1 mb-0"></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <i class="far fa-comment-alt text-warning fa-3x me-4"></i>
                    </div>
                    <div>
                      <h4>Total Tests</h4>
                      <p class="mb-0">Monthly blog Tests</p>
                    </div>
                  </div>
                  <div class=" align-self-center">
                    <h2 class="mon_test_cnt h1 mb-0">84,695</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="user_cnt h1 mb-0 me-4">$76,456.00</h2>
                    </div>
                    <div>
                      <h4>Users</h4>
                      <p class="mb-0">Total Connected</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-heart text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="avg_res h1 mb-0 me-4">$36,000</h2>
                    </div>
                    <div>
                      <h4>Avg. Responce</h4>
                      <p class="mb-0">Per Test</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-wallet text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Statistics with subtitles-->
    </div>
    <script>
        const user= JSON.parse(`<%- user %>`);

        console.log(user);

        const scores = user.test_answer.map(test => test.answer_ref.totalmarksget);

          // Maximum score
          const max_score = Math.max(...scores);

          // Average score
          const total = scores.reduce((sum, score) => sum + score, 0);
          const average_score = scores.length > 0 ? Math.floor(total / scores.length) : 0;

          //max-question
          const ques= user.test_answer.map(test => test.answer_ref.form.length);
          const max_ques=Math.max(...ques);

          document.querySelector(".max-score").textContent=max_score;
          document.querySelector(".avg-score").textContent = average_score;
          document.querySelector(".max-ques").textContent = max_ques;
          document.querySelector(".test-cnt").textContent = user.test_answer.length;

          const items = document.getElementById('test_items');
          const showMoreBtn = document.getElementById('showMoreBtn');
          const testItems = user.test_answer.slice().reverse();
          let visibleCount = 6;

          const options = {
            day: '2-digit',
          month: 'short',
          year: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
          hour12: true,     // for AM/PM format
          timeZone: 'Asia/Kolkata' // IST (you can remove this if you want local time)
          };


          function renderTests(count) {
            items.innerHTML = ``;
          for (let i = 0; i < Math.min(count, testItems.length); i++) {
                const test = testItems[i];

          const row = document.createElement("tr");
          row.className = "align-middle";
          row.style.cursor = "pointer";
          row.id = `row_${i}`;
          row.setAttribute("data-quiz-code", test.quiz_code);


          const sub_item_1 = document.createElement("th");
          sub_item_1.scope = "row";
          sub_item_1.textContent = test.test_ref.quiz_name;
          sub_item_1.style.textTransform = "capitalize";

          const sub_item_2 = document.createElement("td");
          sub_item_2.textContent = test.quiz_code;
          sub_item_2.className = "text-dark";

          const date = new Date(test.end_date);
          const formatted = date.toLocaleString('en-GB', options);
          const sub_item_3 = document.createElement('td');
          sub_item_3.textContent = formatted;
          sub_item_3.className = "text-dark";

          const sub_item_4 = document.createElement('td');
          sub_item_4.textContent = test.test_ref.form.length;
          sub_item_4.className = "text-success fw-medium";

          const sub_item_5 = document.createElement('td');
          sub_item_5.textContent = test.answer_ref.totalmarks;
          sub_item_5.className = "text-info fw-medium";

          const sub_item_6 = document.createElement('td');
            sub_item_6.textContent = test.answer_ref.totalmarksget;
            sub_item_6.className = "text-danger fw-medium";

          const sub_item_7 = document.createElement('td');
          const hours = Math.floor(test.test_ref.time / 60);
          const minutes = test.test_ref.time % 60;
          sub_item_7.textContent =minutes==0?"No Time":
                  (hours > 0 ? `${hours} hr${hours > 1 ? 's' : ''} ` : '') +
          (`${minutes} min`);
          sub_item_7.className = "text-warning fw-medium";

          row.append(sub_item_1, sub_item_2, sub_item_3, sub_item_4, sub_item_5, sub_item_6, sub_item_7);
          items.appendChild(row);
              }
    
              if (testItems.length > visibleCount) {
            showMoreBtn.classList.remove("d-none");
              } else {
            showMoreBtn.classList.add("d-none");
              }
            }

          renderTests(visibleCount);
    
            showMoreBtn.addEventListener("click", () => {
            window.location.href = `/user/overview`;
            });

    
   </script>
  </main>
  <!--Main layout-->

    <%- include('../partials/mdbfooter'); -%>
    <%- include('../partials/footer'); -%>