<%- include('../../includes/admin_home/header') -%>
    <%- include('../../includes/admin_home/sidebar_submittion_page') -%>
        <%- include('../../includes/admin_home/create_quiz/navbar_sub') -%>

        <div class="questionblock" style="margin-top: 58px;padding: 25px 25px 25px 265px;">
            <h3>
                <div id="quiz_name" class="display-5" style=" text-transform: capitalize;"></div>
                <hr>
            </h3>
            <div id="parent">
                <pre id="copyText" onclick="copyContent()" style="cursor:pointer;" class="border p-2">Quiz Code: <span id="code"></span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" /></svg></pre>
                
                <br>
                <div id="message"></div>
            </div>
    </div>
<script>

    // Extract the query parameter from the URL
    //const params = new URLSearchParams(window.location.search);//to get the test code from admin_question_new
    let message = `<%- test %>`;
    const user_name=`<%=user_name%>`;
    const quizName=`<%= quizName%>`;
    // Convert the object to a string representation
    message = JSON.parse(message);
    message_length= message.form.length

   // Convert the object to a string representation
    const code=JSON.stringify(message.random).replace(/"/g, '');

    // Display the message wherever needed in your HTML
    document.getElementById('code').textContent =code;
    document.getElementById('quiz_name').textContent = quizName;
    async function testpaper(){

        const div=document.createElement("div");//creating div
        div.id="question";
        for(var i=0;i<message_length;i++){
            const divs=document.createElement("div");//creating div
            divs.id="question${i+1}";
         
            if(message.form[i].type==3){
                divs.innerHTML=`
                <div id="question${i+1}">
                    <h4 id="question${i+1}_p" style="display: flex; justify-content: space-between; text-transform: capitalize;">${i+1}. ${JSON.stringify(message.form[i].text).replace(/"/g, '')}<span style="margin-right:20vw;">Marks:${JSON.stringify(message.form[i].marks).replace(/"/g, '')}</span></h4>
                <span>A. <span> <span id=text${i+1} style="text-decoration: underline; "> ${JSON.stringify(message.form[i].text_answer).replace(/"/g, '')}</span>
                </div>
            `}else if(message.form[i].type==1){
                divs.innerHTML=`
                <div id="question${i+1}">
                    <h4 id="question${i+1}_p" style="display: flex; justify-content: space-between; text-transform: capitalize;">${i+1}. ${JSON.stringify(message.form[i].text).replace(/"/g, '')}<span style="margin-right:20vw;">Marks:${JSON.stringify(message.form[i].marks).replace(/"/g, '')}</span></h4>
                        ${message.form[i].correct_answer == 1 ?
                            ` <input type="radio" id="option1${i}" name="options${i}" value="1" checked onclick="return false;">`
                            : `<input type="radio" id="option1${i}" name="options${i}" value="1" disabled>`
                        }
                        <label for="option1${i}" > ${JSON.stringify(message.form[i].option1[0]).replace(/"/g, '')}</label><br>
                        
                        ${message.form[i].correct_answer == 2 ?
                            ` <input type="radio" id="option2${i}" name="options${i}" value="2" checked onclick="return false;">`
                            : `<input type="radio" id="option2${i}" name="options${i}" value="2" disabled>`
                        }
                        <label for="option2${i}" > ${JSON.stringify(message.form[i].option1[1]).replace(/"/g, '')}</label><br>
                        ${message.form[i].correct_answer == 3 ?
                            ` <input type="radio" id="option3${i}" name="options${i}" value="3" checked onclick="return false;">`
                            : `<input type="radio" id="option3${i}" name="options${i}" value="3" disabled>`
                        }
                        <label for="option3${i}" > ${JSON.stringify(message.form[i].option1[2]).replace(/"/g, '')}</label><br>
                        ${message.form[i].correct_answer == 4 ?
                            ` <input type="radio" id="option4${i}" name="options${i}" value="4" checked onclick="return false;">`
                            : `<input type="radio" id="option4${i}" name="options${i}" value="4" disabled>`
                        }
                        <label for="option4${i}" > ${JSON.stringify(message.form[i].option1[3]).replace(/"/g, '')}</label>
                    
                </div> `
            }else if(message.form[i].type==2){
                divs.innerHTML=`
                <div id="question${i+1}">
                    <h4 id="question${i+1}_p" style="display: flex; justify-content: space-between; text-transform: capitalize;">${i+1}. ${JSON.stringify(message.form[i].text).replace(/"/g, '')}<span style="margin-right:20vw;">Marks:${JSON.stringify(message.form[i].marks).replace(/"/g, '')}</span></h4>

                        ${message.form[i].option1_answer_checkbox.includes(1) ?
                            ` <input type="checkbox" id="option_checkbox1${i}" name="options_checkbox" value="1" checked>`
                            : `<input type="checkbox" id="option_checkbox1${i}" name="options_checkbox" value="1" disabled>`
                        }
                        <label for="option_checkbox1${i}" > ${JSON.stringify(message.form[i].option1[0]).replace(/"/g, '')}</label><br>
                        
                        ${message.form[i].option1_answer_checkbox.includes(2) ?
                            ` <input type="checkbox" id="option_checkbox2${i}" name="options_checkbox" value="2" checked>`
                            : `<input type="checkbox" id="option_checkbox2${i}" name="options_checkbox" value="2" disabled>`
                        }
                        <label for="option_checkbox2${i}" > ${JSON.stringify(message.form[i].option1[1]).replace(/"/g, '')}</label><br>
                        ${message.form[i].option1_answer_checkbox.includes(3) ?
                            ` <input type="checkbox" id="option_checkbox3${i}" name="options_checkbox" value="3" checked>`
                            : `<input type="checkbox" id="option_checkbox3${i}" name="options_checkbox" value="3" disabled>`
                        }
                        <label for="option_checkbox3${i}" > ${JSON.stringify(message.form[i].option1[2]).replace(/"/g, '')}</label><br>
                        ${message.form[i].option1_answer_checkbox.includes(4)?
                            ` <input type="checkbox" id="option_checkbox4${i}" name="options_checkbox" value="4" checked>`
                            : `<input type="checkbox" id="option_checkbox4${i}" name="options_checkbox" value="4" disabled>`
                        }
                        <label for="option_checkbox4${i}" > ${JSON.stringify(message.form[i].option1[3]).replace(/"/g, '')}</label>
                    
                </div> `
            }
      
            div.appendChild(divs);//adding the inside of div
        
        }
        // Find the parent div
        const parentDiv = document.getElementById('parent');

        // Find the reference div (the one after which you want to append the new div)
        const referenceDiv = parentDiv.children[1]; // Index 1 refers to the second child div

        // Insert the new div after the reference div
        parentDiv.insertBefore(div, referenceDiv.nextSibling);
    
    }
    window.onload = function () {
            testpaper();
    };
   
    function copyContent() {
            const text = document.getElementById("code").innerText;
            navigator.clipboard.writeText(text)
                .then(() => alert("Copied to clipboard!"))
                .catch(err => alert("Failed to copy: " + err));
    }

 </script>
  </html>

<%- include('../../partials/mdbfooter'); -%>
<%- include('../../partials/footer'); -%>